@model PinkUmbrella.ViewModels.Peer.PeerViewModel
@{
    ViewData["Title"] = "Preview Peer";
}
<partial name="_Header" />
<h3>@Model.Peer.DisplayName</h3>
<ul>
@foreach (var p in Model.Peer.GetType().GetProperties())
{
    <li>
        <b>@p.Name</b>
        <span>@(p.GetValue(Model.Peer)?.ToString() ?? "<empty>")</span>
    </li>
}
</ul>
<form asp-controller="Admin" asp-action="TrustPeer" asp-route-address="@Model.Peer.Address" asp-route-port="@Model.Peer.AddressPort" method="POST">
    <a href="@(Context.Request.Headers["Referrer"])">Cancel</a>
    <button type="submit">Add</button>
</form>