@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment _environment
@inject SignInManager<UserProfileModel> SignInManager
@inject UserManager<UserProfileModel> UserManager
@{
    var controllerName = (string) ViewData["Controller"];
    var actionName = (string) ViewData["Action"];
    var accountLiClass = controllerName == "Account" ? "selected" : "";
    var searchLiClass = controllerName == "Home" && actionName == "Search" ? "selected" : "";
    var profileLiClass = controllerName == "Profile" ? "selected" : "";
    var archiveLiClass = controllerName == "Archive" ? "selected" : "";
    var inventoryLiClass = controllerName == "Inventory" ? "selected" : "";
    var civicDutyLiClass = controllerName == "CivicDuty" ? "selected" : "";
    var shopLiClass = controllerName == "Shop" ? "selected" : "";
    var debugLiClass = controllerName == "Debug" ? "selected" : "";
    var privacyLiClass = controllerName == "Home" && actionName == "Privacy" ? "selected" : "";
    var aboutLiClass = controllerName == "Home" && actionName == "About" ? "selected" : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" 
      type="image/png" 
      href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @_strings.SiteName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css" integrity="sha256-CaAu1oJhcLBPo4TnfEZ8fdP+O4mpoVBQ6zyZCs2x7+o=" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-umbrella accent-color"></i> @_strings.SiteName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 highlight-selected">
                        <li class="nav-item @searchLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search">Search</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User)) 
                        {
                            <li class="nav-item @accountLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
                            </li>
                            <li class="nav-item @profileLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                            </li>
                            <li class="nav-item @archiveLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Archive" asp-action="Index">Media Archive</a>
                            </li>
                            <li class="nav-item @inventoryLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inventory" asp-action="Index">Inventory</a>
                            </li>
                            <li class="nav-item @civicDutyLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CivicDuty" asp-action="Index">Civic Duty</a>
                            </li>
                            <li class="nav-item @shopLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item @accountLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item @accountLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search" asp-route-t="@SearchResultType.Shop">Shop</a>
                            </li>
                        }
                        <li class="nav-item @privacyLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item @aboutLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User)) 
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">
                                    <svg class="bi bi-x-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                    </svg>
                                    Logout
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            2020 - @_strings.SiteName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-area="" asp-controller="Home" asp-action="About">About Us</a> - <a href="@_strings.WikiUrl" target="_blank">Wiki</a>
            
             - <a href="@_strings.GitHubUrl" target="_blank">GitHub</a>
            @if (!_environment.IsProduction()) {
                <span> - </span><a asp-area="" asp-controller="Debug" asp-action="Index">Debug</a>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js" integrity="sha256-+Q/z/qVOexByW1Wpv81lTLvntnZQVYppIL1lBdhtIq0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/fontawesome.min.js" integrity="sha256-bP9MBDJ4xkv81w/A2cgwRonMI+eelvZwm7e8rP5JIxA=" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
