@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment _environment
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" 
      type="image/png" 
      href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (_environment.IsProduction())
    {
    <title>@ViewData["Title"] - @_settings.Site.HostDisplayName - @_strings.SoftwareName</title>
    }
    else
    {
    <title>@ViewData["Title"] - @_settings.Site.HostDisplayName - Beta @_strings.SoftwareName</title>
    }
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        :root {
            --accent-color: @_settings.Site.AccentColor;
        }
    </style>
    <link rel="stylesheet" href="~/css/site.css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" integrity="sha256-CuUPKpitgFmSNQuPDL5cEfPOOJT/+bwUlhfumDJ9CI4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css" crossorigin="anonymous" />
</head>
<body>
    <partial name="_LayoutHeader" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <ul class="footer-container">
            <li>
                2020 <i class="fa fa-umbrella accent-color" style="transform: ScaleX(-1)"></i> @_strings.SoftwareName for @_settings.Site.HostDisplayName
            </li>
            <li>
                <a href="@_strings.GitHubUrl" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                &bull; <a asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fas fa-user-secret"></i> Privacy</a>
                &bull; <a asp-area="" asp-controller="Home" asp-action="Terms"><i class="fas fa-file"></i> Terms</a>
                &bull; <a asp-area="" asp-controller="Home" asp-action="About"><i class="fas fa-question-circle"></i> About Us</a>
                &bull; <a href="@_strings.WikiUrl" target="_blank"><i class="fas fa-info-circle"></i> Wiki</a>
                @if (User.IsInRole(_strings.RoleDeveloper) || System.Diagnostics.Debugger.IsAttached)
                {
                    <span> &bull; </span><a asp-area="" asp-controller="Developer" asp-action="Index"><i class="fas fa-robot"></i> Debug</a>
                }
                @if (User.IsInRole(_strings.RoleAdmin) || System.Diagnostics.Debugger.IsAttached)
                {
                    <span> &bull; </span><a asp-area="" asp-controller="Admin" asp-action="Index"><i class="fas fa-balance-scale"></i> Admin</a>
                }
                &bull; <a asp-area="" asp-controller="Home" asp-action="Links"><i class="fas fa-link"></i> Links</a>
                &bull; <a href="@_strings.ReportBugUrl" target="_blank"><i class="fas fa-bug"></i> Report Issue</a>
            </li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js" integrity="sha256-NP9NujdEzS5m4ZxvNqkcbxyHB0dTRy9hG13RwTVBGwo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>