@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment _environment
@inject SignInManager<UserProfileModel> SignInManager
@inject UserManager<UserProfileModel> UserManager
@{
    var controllerName = (string) ViewData["Controller"];
    var actionName = (string) ViewData["Action"];
    var homeLiClass = controllerName == "Home" && actionName == "Index" ? "selected" : "";
    var accountLiClass = controllerName == "Account" && actionName == "Index" ? "selected" : "";
    var searchLiClass = controllerName == "Home" && actionName == "Search" ? "selected" : "";
    var profileLiClass = controllerName == "Profile" ? "selected" : "";
    var inventoryLiClass = controllerName == "Inventory" ? "selected" : "";
    var civicDutyLiClass = controllerName == "CivicDuty" ? "selected" : "";
    var shopLiClass = controllerName == "Shop" ? "selected" : "";
    var debugLiClass = controllerName == "Debug" ? "selected" : "";
    var privacyLiClass = controllerName == "Home" && actionName == "Privacy" ? "selected" : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - seattle.git</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">seattle.git</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 highlight-selected">
                        <li class="nav-item @homeLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item @searchLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search">Search</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User)) 
                        {
                            <li class="nav-item @accountLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
                            </li>
                            <li class="nav-item @profileLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                            </li>
                            <li class="nav-item @inventoryLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inventory" asp-action="Index">Inventory</a>
                            </li>
                            <li class="nav-item @civicDutyLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CivicDuty" asp-action="Index">Civic Duty</a>
                            </li>
                            <li class="nav-item @shopLiClass">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                            </li>
                            @if (!_environment.IsProduction()) {
                                <li class="nav-item @debugLiClass">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Debug" asp-action="Index">Debug</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search" asp-route-t="SearchResultType.Shop">Shop</a>
                            </li>
                        }
                        <li class="nav-item @privacyLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - seattle.git - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
