@model PinkUmbrella.ViewModels.Account.ChangePasswordViewModel
<div>
    <h3>Change Password</h3>
    <p>@Model.GetPropertyDescription(nameof(Model.NewPassword))</p>
    <partial name="_PasswordHints" />
</div>
<form method="post" asp-action="ChangePassword" asp-controller="Account">
    <div class="form-group">
        <label asp-for="CurrentPassword" class="control-label"></label>
        <div style="display: grid;grid-template-columns: auto max-content;grid-gap: 1rem;">
            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control input-lg" })
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
        @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
    </div>
    <div style="display: grid;grid-template-columns: 1fr 1fr;grid-gap: 1rem;">
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label text-nowrap"></label>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label text-nowrap"></label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.ValidationSummary(true, null, new { @class = "text-danger" }, "p")
</form>