@{
    var actionName = (string) ViewData["Action"];
    var detailsLiClass = actionName == "Index" ? "selected" : "";
    var keysLiClass = actionName == "AuthKeys" ? "selected" : "";
    var personalDataLiClass = (actionName == "PersonalData" || actionName == "Delete") ? "selected" : "";
    var loginSettingsLiClass = (actionName == "LoginSettings" || actionName == "UpdateLoginMethod" || actionName == "SetupLoginMethod") ? "selected" : "";
    var notificationSettingsLiClass = actionName == "NotificationSettings" ? "selected" : "";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1 highlight-selected">
                <li class="nav-item @detailsLiClass">
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Index"><u>Details</u></a>
                </li>
                <li class="nav-item @personalDataLiClass">
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="PersonalData"><u>Personal Data</u></a>
                </li>
                @if (await _settings.FeatureManager.IsEnabledAsync(nameof(FunctionUserManageKeys)))
                {
                <li class="nav-item @keysLiClass">
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="AuthKeys"><u>Keys</u></a>
                </li>
                }
                @if (await _settings.FeatureManager.IsEnabledAsync(nameof(FunctionUserChangePassword)))
                {
                <li class="nav-item @loginSettingsLiClass">
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="LoginSettings"><u>Login Settings</u></a>
                </li>
                }
                <li class="nav-item @notificationSettingsLiClass">
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="NotificationSettings"><u>Notification Settings</u></a>
                </li>
            </ul>
        </div>
    </div>
</nav>