@using seattle.ViewModels.Profile
@model IndexViewModel
@{
    ViewData["Title"] = Model.Profile.DisplayName;
    var controllerName = (string) ViewData["Controller"];
    var actionName = (string) ViewData["Action"];
    var postsLiClass = actionName == "Index" ? "selected" : "";
    var repliesLiClass = actionName == "Replies" ? "selected" : "";
    var mentionsLiClass = actionName == "Mentions" ? "selected" : "";
    
    var reactEnabled = (Model.MyProfile?.Id ?? -1) != Model.Profile.Id;

    var reactLike = new ReactViewModel() {
        Type = ReactionType.Like,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.Id,
        HasReacted = Model.Profile.HasLiked,
        Count = Model.Profile.LikeCount,
        ViewerId = Model.MyProfile?.Id,
        Enabled = reactEnabled,
    };
    var reactDislike = new ReactViewModel() {
        Type = ReactionType.Dislike,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.Id,
        HasReacted = Model.Profile.HasDisliked,
        Count = Model.Profile.DislikeCount,
        ViewerId = Model.MyProfile?.Id,
        Enabled = reactEnabled,
    };
    var reactBlock = new ReactViewModel() {
        Type = ReactionType.Block,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.Id,
        HasReacted = Model.Profile.HasBlocked,
        Count = Model.Profile.BlockCount,
        ViewerId = Model.MyProfile?.Id,
        Enabled = reactEnabled,
    };
    var reactReport = new ReactViewModel() {
        Type = ReactionType.Report,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.Id,
        HasReacted = Model.Profile.HasReported,
        Count = Model.Profile.ReportCount,
        ViewerId = Model.MyProfile?.Id,
        Enabled = reactEnabled,
    };
    var reactFollow = new ReactViewModel() {
        Type = ReactionType.Follow,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.Id,
        HasReacted = Model.Profile.HasReported,
        Count = Model.Profile.ReportCount,
        ViewerId = Model.MyProfile?.Id,
        Enabled = reactEnabled,
    };
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <i>@@@Model.Profile.Handle</i>
    @if (Model.Profile.Visibility != Visibility.VISIBLE_TO_WORLD)
    {
        switch (Model.Profile.Visibility)
        {
            case Visibility.HIDDEN:
            <span>&bull; Hidden to everyone</span>
            break;
            case Visibility.VISIBLE_TO_REGISTERED:
            <span>&bull; Visible to other users on this site</span>
            break;
            case Visibility.VISIBLE_TO_FOLLOWERS:
            if (Model.Profile.Id == Model.MyProfile?.Id)
            {
            <span>&bull; Only visible to your followers</span>
            }
            else
            {
            <span>&bull; Only visible to this user's followers</span>
            }
            break;
        }
    }
    <p>@Model.Profile.Bio</p>
    
    <ul>
        <li><partial name="_ReactButton" model="reactLike" /></li>
        <li><partial name="_ReactButton" model="reactDislike" /></li>
        <li><partial name="_ReactButton" model="reactFollow" /></li>
        <li><partial name="_ReactButton" model="reactBlock" /></li>
        <li><partial name="_ReactButton" model="reactReport" /></li>
    </ul>
</div>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1 highlight-selected">
                <li class="nav-item @postsLiClass">
                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Profile.Id"><u>Posts</u></a>
                </li>
                <li class="nav-item @repliesLiClass">
                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="Replies" asp-route-id="@Model.Profile.Id"><u>Replies</u></a>
                </li>
                <li class="nav-item @mentionsLiClass">
                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="Mentions" asp-route-id="@Model.Profile.Id"><u>Mentions</u></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<partial name="_FeedList" model="Model.Feed" />