@using PinkUmbrella.ViewModels.Profile
@model IndexViewModel
@{
    ViewData["Title"] = Model.Profile.DisplayName;
    var controllerName = (string) ViewData["Controller"];
    var actionName = (string) ViewData["Action"];
    var postsLiClass = actionName == "Index" ? "selected" : "";
    var repliesLiClass = actionName == "Replies" ? "selected" : "";
    var mentionsLiClass = actionName == "Mentions" ? "selected" : "";
    var mediaLiClass = actionName == "ArchivedMedia" ? "selected" : "";
    var photosLiClass = actionName == "Photos" ? "selected" : "";
    var videosLiClass = actionName == "Videos" ? "selected" : "";
}
<div class="text-center">
    <partial name="_Covid19" />
    <partial name="Profile/_Container" />
</div>
@if (!Model.Profile.HasBlocked && !Model.Profile.HasReported)
{
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1 highlight-selected">
                <li class="nav-item @postsLiClass">
                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Profile.Id"><u>Posts</u></a>
                </li>
                <li class="nav-item @repliesLiClass">
                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="Replies" asp-route-id="@Model.Profile.Id"><u>Replies</u></a>
                </li>
                <li class="nav-item @mentionsLiClass">
                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="Mentions" asp-route-id="@Model.Profile.Id"><u>Mentions</u></a>
                </li>
                <li class="nav-item my-2"><span class="px-1">&nbsp;&nbsp;</span><span class="border-left border-dark">&nbsp;</span><span class="px-1">&nbsp;</span></li>
                <li class="nav-item @mediaLiClass">
                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="ArchivedMedia" asp-route-id="@Model.Profile.Id"><u>Archived Media</u></a>
                </li>
                <li class="nav-item @photosLiClass">
                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="Photos" asp-route-id="@Model.Profile.Id"><u>Photos</u></a>
                </li>
                <li class="nav-item @videosLiClass">
                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="Videos" asp-route-id="@Model.Profile.Id"><u>Videos</u></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
if (Model.Feed != null)
{
    <partial name="_FeedList" model="Model.Feed" />
}
else if (Model.Media != null)
{
    <partial name="_ArchivedMediaList" model="Model.Media" />
}
}