@model PinkUmbrella.ViewModels.Account.SetupLoginMethod.ChangePasswordViewModel
<form method="post" asp-action="ChangePassword" asp-controller="Account">
    <div style="display: grid;grid-template-columns: 1fr 1fr;grid-gap: 1rem;">
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label"></label>
            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control input-lg" })
            @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
        </div>
            <div>
                <button type="submit" class="btn btn-primary float-right">Change Password</button>
                <p>@Model.GetPropertyDescription(nameof(Model.NewPassword))</p>
                <partial name="_PasswordHints" />
            </div>
    </div>
    <div style="display: grid;grid-template-columns: 1fr 1fr;grid-gap: 1rem;">
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label text-nowrap"></label>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label text-nowrap"></label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.ValidationSummary(true, null, new { @class = "text-danger" }, "p")
</form>