@using PinkUmbrella.ViewModels.Inventory
@model SimpleInventoryModel
<h4>Create new inventory</h4>
<form asp-action="NewInventory" asp-controller="Inventory" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="DisplayName"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.DisplayName))</small>
        <input asp-for="DisplayName" class="form-control" placeholder="@Model.GetPropertyPlaceHolder(nameof(Model.DisplayName))" data-debug-value="@Model.GetDebugValue(nameof(Model.DisplayName))" />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.Description))</small>
        <input asp-for="Description" class="form-control" placeholder="@Model.GetPropertyPlaceHolder(nameof(Model.Description))" data-debug-value="@Model.GetDebugValue(nameof(Model.Description))" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <partial name="Button/AddButton" />
    <partial name="_DebugValuesButton" />
</form>