@model PinkUmbrella.ViewModels.Account.IndexViewModel
<form asp-controller="Account" asp-action="UpdateProfile" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="MyProfile.name">Display Name</label>
        <small>@Model.MyProfile.GetPropertyDescription(nameof(Model.MyProfile.name))</small>
        <input asp-for="MyProfile.name" class="form-control" />
        <span asp-validation-for="MyProfile.name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MyProfile.Handle"></label>
        <small>@Model.MyProfile.GetPropertyDescription(nameof(Model.MyProfile.Handle))</small>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@@</span>
            </div>
            <input asp-for="MyProfile.Handle" class="form-control" placeholder="@Model.MyProfile.GetPropertyPlaceHolder(nameof(Model.MyProfile.Handle))" data-debug-value="@Model.MyProfile.GetDebugValue(nameof(Model.MyProfile.Handle))" autocomplete="off" />
        </div>
        <span asp-validation-for="MyProfile.Handle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MyProfile.summary"></label>
        <small>@Model.MyProfile.GetPropertyDescription(nameof(Model.MyProfile.summary))</small>
        <input asp-for="MyProfile.summary" class="form-control" />
        <span asp-validation-for="MyProfile.summary" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="MyProfile.BioVisibility"></label>
        <small>@Model.MyProfile.GetPropertyDescription(nameof(Model.MyProfile.BioVisibility))</small>
        <select asp-for="MyProfile.BioVisibility" class="form-control">
            <partial name="_EnumOptions" model="new EnumViewModel() { Type = typeof(Visibility), Selected = Model.MyProfile.BioVisibility }" />
        </select>
        <span asp-validation-for="MyProfile.BioVisibility" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MyProfile.WhenLastLoggedInVisibility"></label>
        <small>@Model.MyProfile.GetPropertyDescription(nameof(Model.MyProfile.WhenLastLoggedInVisibility))</small>
        <select asp-for="MyProfile.WhenLastLoggedInVisibility" class="form-control">
            <partial name="_EnumOptions" model="new EnumViewModel() { Type = typeof(Visibility), Selected = Model.MyProfile.WhenLastLoggedInVisibility }" />
        </select>
        <span asp-validation-for="MyProfile.WhenLastLoggedInVisibility" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MyProfile.WhenLastOnlineVisibility"></label>
        <small>@Model.MyProfile.GetPropertyDescription(nameof(Model.MyProfile.WhenLastOnlineVisibility))</small>
        <select asp-for="MyProfile.WhenLastOnlineVisibility" class="form-control">
            <partial name="_EnumOptions" model="new EnumViewModel() { Type = typeof(Visibility), Selected = Model.MyProfile.WhenLastOnlineVisibility }" />
        </select>
        <span asp-validation-for="MyProfile.WhenLastOnlineVisibility" class="text-danger"></span>
    </div> *@
    <button type="submit" class="btn btn-success">Update Profile</button>
</form>