@model TagEditorViewModel
<div class="js-tag-display @Model.HtmlClasses" id="@Model.HtmlId" >
    @foreach (var tag in Model.Tags.items)
    {
        <a class="js-tag-display--tag" title="@tag.summary" asp-controller="Home" asp-action="Search" asp-route-tags="@tag.content">@tag.content</a>
    }
</div>