@model TagEditorViewModel
<div class="js-tag-display @Model.HtmlClasses" id="@Model.HtmlId" >
    @foreach (var tag in Model.Tags)
    {
        <a class="js-tag-display--tag" title="@tag.Topic" asp-controller="Home" asp-action="Search" asp-route-tags="@tag.Tag">@tag.Tag</a>
    }
</div>