@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using PinkUmbrella.Models.Search
@inject IWebHostEnvironment _environment
@inject SignInManager<UserProfileModel> SignInManager
@inject UserManager<UserProfileModel> UserManager
@inject INotificationService _notifications
@model PinkUmbrella.ViewModels.BaseViewModel
@{
    var controllerName = (string) ViewData["Controller"];
    var actionName = (string) ViewData["Action"];
    var accountLiClass = controllerName == "Account" ? "selected" : "";
    var searchLiClass = controllerName == "Home" && actionName == "Search" ? "selected" : "";
    var PersonLiClass = controllerName == "Person" ? "selected" : "";
    var archiveLiClass = controllerName == "Archive" ? "selected" : "";
    var inventoryLiClass = controllerName == "Inventory" ? "selected" : "";
    var civicDutyLiClass = controllerName == "CivicDuty" ? "selected" : "";
    var shopLiClass = controllerName == "Shop" ? "selected" : "";
    var debugLiClass = controllerName == "Developer" ? "selected" : "";
    var privacyLiClass = controllerName == "Home" && actionName == "Privacy" ? "selected" : "";
    var aboutLiClass = controllerName == "Home" && actionName == "About" ? "selected" : "";

    var unviewedNotificationsCount = Model?.MyProfile != null ? await _notifications.GetUnviewedNotificationsCount(Model.MyProfile.UserId.Value) : 0;

    if (ViewData.TryGetValue(_strings.ViewKeys.StatusBar, out object statusBarModel))
    {
        <partial name="_StatusBar" model="statusBarModel" />
    }
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-nowrap">
        <div class="container">
            <a class="navbar-brand text-nowrap" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-umbrella accent-color"></i> @_settings.Site.HostDisplayName @if (!_environment.IsProduction()) { <i class="fas fa-robot" title="@_strings.BetaMsg"></i> }</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 highlight-selected">
                    @if (await _settings.FeatureManager.IsEnabledAsync(nameof(ViewSearch)))
                    {
                    <li class="nav-item @searchLiClass">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search">
                            <i class="fa fa-search"></i> Search
                        </a>
                    </li>
                    }
                    @if (SignInManager.IsSignedIn(User)) 
                    {
                        if (await _settings.FeatureManager.IsEnabledAsync(nameof(ControllerAccount)))
                        {
                        <li class="nav-item @accountLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index" >
                                <i class="fa fa-cogs"></i> Account
                            </a>
                        </li>
                        }
                        if (await _settings.FeatureManager.IsEnabledAsync(nameof(ControllerPerson)))
                        {
                        <li class="nav-item @PersonLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Person" asp-action="Index" asp-route-id="@Model.MyProfile.PublicId.Id" >
                                <i class="far fa-user-circle"></i> Profile
                            </a>
                        </li>
                        }
                        if (await _settings.FeatureManager.IsEnabledAsync(nameof(ControllerArchive)))
                        {
                        <li class="nav-item @archiveLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Archive" asp-action="Index" >
                                <i class="fas fa-photo-video"></i> Media Archive
                            </a>
                        </li>
                        }
                        if (await _settings.FeatureManager.IsEnabledAsync(nameof(ControllerInventory)))
                        {
                        <li class="nav-item @inventoryLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inventory" asp-action="Index" >
                                <i class="fa fa-boxes"></i> Inventory
                            </a>
                        </li>
                        }
                        if (await _settings.FeatureManager.IsEnabledAsync(nameof(ControllerCivicDuty)))
                        {
                        <li class="nav-item @civicDutyLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CivicDuty" asp-action="Index" >
                                <i class="far fa-handshake"></i> Civic Duty
                            </a>
                        </li>
                        }
                        if (await _settings.FeatureManager.IsEnabledAsync(nameof(ControllerShop)))
                        {
                        <li class="nav-item @shopLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index" asp-route-handle="@null">
                                <i class="fas fa-store"></i> Shop
                            </a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout" >
                                <i class="fa fa-sign-out-alt"></i> Logout
                            </a>
                        </li>
                        <li class="nav-item @(unviewedNotificationsCount > 0 ? "selected" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Notifications" >
                                <i class="fa fa-bell"></i> @_strings.CountRound(unviewedNotificationsCount)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item @accountLiClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">
                                <i class="fas fa-sign-in-alt"></i> Register or Login
                            </a>
                        </li>
                        if (await _settings.FeatureManager.IsEnabledAsync(nameof(ControllerShop)) && await _settings.FeatureManager.IsEnabledAsync(nameof(ViewSearch)))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search" asp-route-t="@SearchResultType.Shop">
                                <i class="fas fa-store"></i> Shop
                            </a>
                        </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div style="background-color: var(--accent-color);padding: 0.5rem 0;text-align: center;margin-bottom: 1rem;">
    <i class="fas fa-robot"></i>
    @_strings.InDevelopmentMsg
    <a href="@_strings.GitHubUrl" target="_blank">Learn more here</a> or <a href="@_strings.ReportBugUrl" target="_blank">report an issue.</a>
    <i class="fas fa-robot"></i>
</div>