@using PinkUmbrella.ViewModels.Shop
@model NewShopViewModel
@{
    ViewData["Title"] = "List Your Business";
    var tagEditor = new TagEditorViewModel() {
        HtmlClasses = "form-control",
        Placeholder = Model.GetPropertyPlaceHolder(nameof(Model.Tags)),
        DebugValue = ViewData["ShopTagsDebugValue"] as List<TagModel>,
        InputName = "tagsJson",
        Tags = Model.Tags,
    };
}
<partial name="_Header" />
@if (await _settings.FeatureManager.IsEnabledAsync(nameof(FunctionShopNew)))
{
<form asp-action="New" asp-controller="Shop" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="DisplayName"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.DisplayName))</small>
        <input asp-for="DisplayName" class="form-control" placeholder="@Model.GetPropertyPlaceHolder(nameof(Model.DisplayName))" data-debug-value="@Model.GetDebugValue(nameof(Model.DisplayName))" />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Handle"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.Handle))</small>
        <input asp-for="Handle" class="form-control js-keypress-validate" placeholder="@Model.GetPropertyPlaceHolder(nameof(Model.Handle))" data-debug-value="@Model.GetDebugValue(nameof(Model.Handle))" autocomplete="off" />
        <span asp-validation-for="Handle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StreetAddress"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.StreetAddress))</small>
        <input asp-for="StreetAddress" class="form-control" placeholder="@Model.GetPropertyPlaceHolder(nameof(Model.StreetAddress))" data-debug-value="@Model.GetDebugValue(nameof(Model.StreetAddress))" />
        <span asp-validation-for="StreetAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ZipCode"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.ZipCode))</small>
        <input asp-for="ZipCode" class="form-control" placeholder="@Model.GetPropertyPlaceHolder(nameof(Model.ZipCode))" data-debug-value="@Model.GetDebugValue(nameof(Model.ZipCode))" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WebsiteLink"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.WebsiteLink))</small>
        <input asp-for="WebsiteLink" class="form-control" type="url" placeholder="@Model.GetPropertyPlaceHolder(nameof(Model.WebsiteLink))" data-debug-value="@Model.GetDebugValue(nameof(Model.WebsiteLink))" />
        <span asp-validation-for="WebsiteLink" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MenuLink"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.MenuLink))</small>
        <input asp-for="MenuLink" class="form-control" type="url" placeholder="@Model.GetPropertyPlaceHolder(nameof(Model.MenuLink))" data-debug-value="@Model.GetDebugValue(nameof(Model.MenuLink))" />
        <span asp-validation-for="MenuLink" class="text-danger"></span>
    </div>
    @* V2 of shops / profiles <div class="form-group">
        <label asp-for="ExternalUsernamesJson"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.ExternalUsernamesJson))</small>
        <input type="hidden" asp-for="ExternalUsernamesJson" class="form-control" />
        <span asp-validation-for="ExternalUsernamesJson" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label asp-for="Description"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.Description))</small>
        <textarea asp-for="Description" class="form-control" placeholder="@Model.GetPropertyPlaceHolder(nameof(Model.Description))" data-debug-value="@Model.GetDebugValue(nameof(Model.Description))"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tags"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.Tags))</small>
        <partial name="Tag/Editor" model="tagEditor" />
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Visibility"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.Visibility))</small>
        <select asp-for="Visibility" class="form-control" autocomplete="off">
            <partial name="_EnumOptions" model="new EnumViewModel() { Type = typeof(Visibility), Selected = Model.Visibility }" />
        </select>
        <span asp-validation-for="Visibility" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Publish Store</button>
    <partial name="Button/DebugValuesButton" />
</form>
}
else
{
    <p>Listing businesses has been turned off by site admin.</p>
}