@model PostModel
<div class="contains-goto">
    <a class="goto" asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">goto</a>
    <p>
        <b class="contains-goto">
            @Model.User.DisplayName
            <a class="goto" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Id">goto</a>
        </b>
        <i>@@@Model.User.Handle</i> &bull; @Model.WhenCreated
    </p>
@switch (Model.PostType)
{
    case PostType.Text:
    <partial name="Post/Text" />
    break;
    default:
    <div>No view for @Model.PostType</div>
    break;
}
</div>