@model PostModel
<div class="contains-goto">
    <a class="goto" asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">goto</a>
    <p>
        <span class="contains-goto">
            <b>
                @Model.User.DisplayName
            </b>
            <i>@@@Model.User.Handle</i>
            <a class="goto" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Id">goto</a>
        </span>
        &bull; @Model.WhenCreated
    </p>
@switch (Model.PostType)
{
    case PostType.Text:
    <partial name="Post/Text" />
    break;
    default:
    <div>No view for @Model.PostType</div>
    break;
}
Mentions:
<ul>
    @foreach (var mention in Model.Mentions) {
        <li class="contains-goto">@mention.MentionedUser.DisplayName<a class="goto" asp-controller="Profile" asp-action="Index" asp-route-id="@mention.MentionedUserId">goto</a></li>
    }
</ul>
</div>